@media all and (max-width: 1350px) {
	.why__we #calendary {width: 643px;}
}
@media all and (max-width: 1124px) {
	.why__we .text {width: 500px;}
	header {
		background: #fff;
		height: 68px !important;
		#logo,
		.header__nav,
		.add,
		.location,
		.user {display: none;}
		#logo2 {
			display: block;
			width: 159px;
			height: 46px;
		}
		.search svg {
			fill: #263238 !important;
		}
		.menu {
			 display: inline-block;
			 vertical-align: middle;
			 width: 34px;
			 height: 23px;
			 position: relative;
			 span {
			 	display: block;
			 	background: #263238;
				width: 100%;
				height: 3px;
				position: absolute;
				top: 0;
				left: 0;
				&:nth-child(2) {
					top: 10px;
				}
				&:nth-child(3) {
					top: 20px;
				}
			 }
		}
		.left__part {
		    padding: 11px 0 0 0 !important;
		}
		.right__part {
		    padding: 21px 0 0 !important;
	    }
	}
	.full__screen {
		height: 600px;
		.page {
			padding: 80px 16px 0;
		}
		.mouse {display: none;}
	}
}
@media all and (max-width: 1080px) {
	footer .fr, footer div.fl {width: auto;}
}
@media all and (max-width: 1060px) {
	.full__screen {
		h1 {
			font-size: 36px;
			line-height: 36px;
		}
	}
}
nav.media {display: none;}
@media all and (max-width: 1024px) {
	.full__screen {background: url(../img/header_bg.jpg) center top/cover no-repeat;}
	.full__screen #video {display: none;}
}
@media all and (max-width: 980px) {
	.why__we {padding: 0 0 50px;margin: 0 0 76px;}
	.why__we .btn span {display: none;}
	.why__we .italy, .why__we .text {width: 50%; z-index: 2;}
	.why__we #calendary {width: auto; height: 300px; top: 10px;}
	#push_footer {display: none;}
	footer {height: auto; padding: 20px 0 9px; position: relative;}
	.subscribe {height: 450px;}
	footer .fl,
	footer .fr {width: 100% !important; text-align: center;}
	footer a {margin: 0 10px !important;}
	footer .soc {margin: 18px 0;}
	footer nav a {font-size: 14px;}
	footer nav a.media {display: none;}
	nav.media {display: block; margin: 0 0;}
	footer:before {background: url(../img/footerm.png) top left / 100% 100% no-repeat; width: 515px; height: 100%; right: 0;top: 0;}
}
@media all and (max-width: 880px) {
	.company__search__section .category a {border: 0;}
	.company__search__section .category a:after {content: none;}
}
@media all and (max-width: 840px) {
	.full__screen {
		height: auto;
		.page {
			padding: 135px 16px 92px;
		}
		.filter {
			width: 394px;
			position: relative;
			background: #fff;
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0px;
			    top: -4px;
			    background: url(../img/filter_top.svg);
			    background-size: 93px 90px;
			    width: 74px;
			    height: 95px;
			    background-position: right top;
			    visibility: visible;
			}
			&:after {
				background: url(../img/filter_bot.svg);
				background-size: 100%;
				width: 49px;
				height: 42px;
				left: auto;
				top: auto;
				bottom: 66px;
				right: 3px;
			}
			.title {
				font-size: 18px;
				text-transform: uppercase;
				letter-spacing: .1em;
				font-family: 'BloggerSans';
				margin: 0 0 19px;
				display: block;
			}
			.fl.left_part {
				width: 100%;
				padding: 20px 42px 15px !important;
			}
			.fr.right_part {
				width: 100%;
				padding: 20px 42px;
				background: #e8ebee;
			}
			.field {
				margin: 0 0 15px;
				width: 100%;
				svg {
					position: absolute;
					top: 18px;
					right: 22px;
					fill: #399ede;
				}
				svg.date__svg {
					top: 15px;
				}
				.drop__category {
					left: 50%;
					margin-left: -75%;
				}
			}
			.input {
				color: 010101;
				padding: 0 40px 0 16px;
				width: 100%;
				height: 44px;
				border-radius: 6px !important;
				border: 2px solid #e7eaed;
				&::-webkit-input-placeholder {
				    color:#010101;
				    opacity: 1;
				}
				&::-moz-placeholder {
				    color:#010101;
				    opacity: 1;
				}
				&:-moz-placeholder {
				    color:#010101;
				    opacity: 1;
				}
				&:-ms-input-placeholder {
				    color:#010101;
				    opacity: 1;
				}
			}
		}
	}
}
@media all and (max-width: 800px) {
	.new__events .new__events__items {margin: 0;}
	.new__events .new__events__filter {display: none;}
	.subscribe:before {
		background: url(../img/4p.png) top center no-repeat;
	}
}
@media all and (max-width: 720px) {
	.company__search__section .category a {width: 50%;}
	.search__block .center {padding: 114px 20px;}
}
@media all and (max-width: 650px) {
	.swiper-container {
		.swiper-slide,
		.swiper-slide-active + .swiper-slide + .swiper-slide {
			opacity: .2 !important;
			transition: .4s;
			-webkit-transition: .4s;
			&.swiper-slide-active + .swiper-slide,
			&.swiper-slide-active {
				opacity: 1 !important;
			}
		}
	}
}
@media all and (max-width: 550px) {
	.full__screen h1 {font-size: 24px; line-height: 30px;}
	.why__we .btn {width: 240px; margin: 0 auto; display: block; text-align: center;}
	.why__we .italy {margin-bottom: 0;}
	.why__we .italy, .why__we .text {width: 100%; z-index: 2;}
	.why__we #calendary {width: 140%; margin-left: -20%; height: auto; position: static;}
	.drop__category {
		margin-left: -140px !important;
		width: 280px !important;
	}
	.drop .left, .drop .left .right {width: 100%; border-right: 0;}
	.drop .left .right {position: static; opacity: 1; display: none; padding: 0px 0 7px 60px;}
	.full__screen .drop .left svg {transform: rotate(90deg);-webkit-transform: rotate(90deg);}
	.full__screen .drop .left.click svg {transform: rotate(-90deg);-webkit-transform: rotate(-90deg);}

	.drop.calendar {
		width: 280px;
	    height: auto;
	    padding: 9px 0;
	    left: 50%;
	    margin-left: -140px;
	    .top {
	    	padding: 0 9px 7px;
	    }
	    .weekday, .day {
	    	width: 13%;
	    }
	}
}
@media all and (max-width: 480px) {
	.company__search__section .category a svg {height: auto;width: 100%;}
	.subscribe:before {
		background: url(../img/4s.png) top center no-repeat;
	}
}
@media all and (max-width: 400px) {
	.new__events .new__events__items .arrow {top: 30%;}
	#all .swiper-container {
		.swiper-slide,
		.swiper-slide-active + .swiper-slide,
		.swiper-slide-active + .swiper-slide + .swiper-slide {
			opacity: .2 !important;
			transition: .4s;
			-webkit-transition: .4s;
			&.swiper-slide-active {
				opacity: 1 !important;
			}
		}
	}
}
@media all and (max-width: 350px) {
	footer nav a {width: 49%; margin: 0 !important; padding: 6px 10px; display: inline-block;}
	footer nav {margin: 0;}
	footer .fr {padding-top: 0;}
}